<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <div class="login-page">
            <form>
                <label for="hey-1">Your mail</label>
                <input type="email" id="hey-1" placeholder="Your mail">

                <label for="hey-2">password</label>
                <input type="password" id="hey-2" placeholder="Password">

                <input type="submit" value="Login">
            </form>
        </div>
    </section>
</body>
</html>